.render-job-widget {
  padding: 1em;
}
.render-job-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5em;
}
.render-job-table th, .render-job-table td {
  border: 1px solid #444;
  padding: 0.5em 0.75em;
  text-align: left;
}
.render-job-table th {
  background: #222;
  color: #fff;
}
.render-job-table tr:nth-child(even) {
  background: #222;
}
.render-job-empty {
  color: #888;
  padding: 1em 0;
  text-align: center;
}
